.main-container {
    display: flex;
  }
  
  .ChatNavBar {
    height: 100vh;
  }
  
  .GroupChat {
    flex: 1; 
    overflow-y: auto; 
  }

  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 2.5rem;
    color: #517fad;
    margin-left: 27%;
    width: 100vh;
    text-align: center;
  }

  @media screen and (max-width: 900px) {
    .placeholder {
        font-size: 2rem; 
        margin-left: 20%; 
        width: 45vh;
    }
}

  .placeholder p:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out; 
  }
