.statistics-container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #9B4444;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    background-color: #ffffff;
    border-bottom: 2px solid #9B4444;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

.container-for-charts
{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin:auto;
}

.label-statistic-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    color: #9B4444;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    height:fit-content;
    width: 30%;

}

#user-sentiment-dropdown{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    color: #9B4444;
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    height:fit-content;
    width: 35%;
}

#analyze-sentiment{
    font-size: 1em;
}

#sent-analysis-result{
    font-family: Roboto Sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
    color: #9B4444;
    border-bottom: 2px solid #9B4444;
}

#sentiment-analysis-heading{
    font-family: Roboto Sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
    color: #9B4444;
    margin-bottom: 0px;
}

#info-header{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #9B4444;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    background-color: #ffffff;
    border-bottom: 2px solid #9B4444;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.statistics-main-text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: #9B4444;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 600;
    width: 100%;
}


.stat-description {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stat-description button {
    margin-top: 10px;
    background-color: #e74c3c;
  }
  
  .stat-description button:hover {
    background-color: #c0392b;
  }
  
  .statistics-main-text {
    width: 90%;
    max-width: 90%;
    margin: auto;
  }

  .statistics-main button {
    background-color: #e74c3c;
  }

    .statistics-main button:hover {
        background-color: #c0392b;
    }

    .statistics-activity-container button {
        background-color: #e74c3c;
    }

    .statistics-activity-container button:hover {
        background-color: #c0392b;
    }